{% extends 'Dashboard/index.html' %}

{% block content %}
    <div class="col-12 width: 50%">
        <div class="card">
            <div class="card-body">
                <h2>
                    <i class="bx bxs-microchip icon"></i>
                    Indicators Component: Project 1
                </h2>
                <br/>
                <div class="card card-timeline px-2 border">
                    <h5 class="text-center"><b>Timeline with product gates</b></h5>
                    <ul class="bs4-order-tracking">
                        <li class="step active">
                            <div>A</div>
                            05.05.05
                        </li>
                        <li class="step active">
                            <div>B</div>
                            06.06.06
                        </li>
                        <li color="#dc3545" class="step">
                            <div>C</div>
                            07.07.07
                        </li>
                        <li class="step ">
                            <div>D</div>
                            08.08.08
                        </li>
                        <li class="step ">
                            <div>E</div>
                            08.08.08
                        </li>
                        <li class="step ">
                            <div>F</div>
                            08.08.08
                        </li>
                    </ul>
                </div>
                <br/>
                <div class="shadow p-2 mb-4">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">ML-A</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <canvas id="pie-1"></canvas>
                                </div>
                                <div class="chart-container">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                    <script style="width: 10em">
                                        const ctx = document.getElementById('pie-1');
                                        new Chart(ctx, {
                                            type: 'doughnut',
                                            data: {
                                                labels: [
                                                    'Red',
                                                    'Yellow',
                                                    'Green',
                                                ],
                                                datasets: [{
                                                    label: 'Red',
                                                    data: [1, 100, 25],
                                                    backgroundColor: [
                                                        'rgb(252, 30, 0, 0.7)',
                                                        'rgb(255, 205, 86)',
                                                        'rgb(54, 162, 35)',

                                                    ],
                                                    hoverOffset: 4
                                                }]
                                            }
                                        });
                                    </script>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 15 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">ML-B</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <canvas id="pie-2"></canvas>
                                </div>
                                <div class="chart-container">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                    <script style="width: 10em">
                                        const ctx2 = document.getElementById('pie-2');
                                        new Chart(ctx2, {
                                            type: 'doughnut',
                                            data: {
                                                labels: [
                                                    'Red',
                                                    'Yellow',
                                                    'Green'
                                                ],
                                                datasets: [{
                                                    label: 'Red',
                                                    data: [79, 50, 50],
                                                    backgroundColor: [
                                                        'rgb(252, 30, 0, 0.7)',
                                                        'rgb(255, 205, 86)',
                                                        'rgb(54, 162, 35)',
                                                    ],
                                                    hoverOffset: 4
                                                }]
                                            }
                                        });
                                    </script>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">ML-C</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <canvas id="pie-3"></canvas>
                                </div>
                                <div class="chart-container">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                    <script style="width: 10em">
                                        const ctx3 = document.getElementById('pie-3');
                                        new Chart(ctx3, {
                                            type: 'doughnut',
                                            data: {
                                                labels: [
                                                    'Red',
                                                    'Yellow',
                                                    'Green',
                                                    'Not rated'
                                                ],
                                                datasets: [{
                                                    label: 'Red',
                                                    data: [19, 10, 10, 100],
                                                    backgroundColor: [
                                                        'rgb(252, 30, 0, 0.7)',
                                                        'rgb(255, 205, 86)',
                                                        'rgb(54, 162, 35)',
                                                        'rgb(100, 100, 100)'
                                                    ],
                                                    hoverOffset: 4
                                                }]
                                            }
                                        });
                                    </script>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 100 mins
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">ML-D</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <canvas id="pie-4"></canvas>
                                </div>
                                <div class="chart-container">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                    <script style="width: 10em">
                                        const ctx4 = document.getElementById('pie-4');
                                        new Chart(ctx4, {
                                            type: 'doughnut',
                                            data: {
                                                labels: [
                                                    'Red',
                                                    'Yellow',
                                                    'Green',
                                                    'Not rated'
                                                ],
                                                datasets: [{
                                                    label: 'Red',
                                                    data: [0, 1, 1, 100],
                                                    backgroundColor: [
                                                        'rgb(252, 30, 0, 0.7)',
                                                        'rgb(255, 205, 86)',
                                                        'rgb(54, 162, 35)',
                                                        'rgb(100, 100, 100)'
                                                    ],
                                                    hoverOffset: 4
                                                }]
                                            }
                                        });
                                    </script>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 10 hours
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">ML-E</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <canvas id="pie-5"></canvas>
                                </div>
                                <div class="chart-container">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                    <script style="width: 10em">
                                        const ctx5 = document.getElementById('pie-5');
                                        new Chart(ctx5, {
                                            type: 'doughnut',
                                            data: {
                                                labels: [
                                                    'Red',
                                                    'Yellow',
                                                    'Green',
                                                    'Not rated'
                                                ],
                                                datasets: [{
                                                    label: 'Red',
                                                    data: [0, 0, 0, 100],
                                                    backgroundColor: [
                                                        'rgb(252, 30, 0, 0.7)',
                                                        'rgb(255, 205, 86)',
                                                        'rgb(54, 162, 35)',
                                                        'rgb(100, 100, 100)'
                                                    ],
                                                    hoverOffset: 4
                                                }]
                                            }
                                        });
                                    </script>
                                    <p class="card-text"><small class="text-body-secondary">Not updated yet
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">ML-F</h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <canvas id="pie-6"></canvas>
                                </div>
                                <div class="chart-container">
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                    <script style="width: 10em">
                                        const ctx6 = document.getElementById('pie-6');
                                        new Chart(ctx6, {
                                            type: 'doughnut',
                                            data: {
                                                labels: [
                                                    'Red',
                                                    'Yellow',
                                                    'Green',
                                                    'Not rated'
                                                ],
                                                datasets: [{
                                                    label: 'Red',
                                                    data: [0, 0, 0, 100],
                                                    backgroundColor: [
                                                        'rgb(252, 30, 0, 0.7)',
                                                        'rgb(255, 205, 86)',
                                                        'rgb(54, 162, 35)',
                                                        'rgb(100, 100, 100)'
                                                    ],
                                                    hoverOffset: 4
                                                }]
                                            }
                                        });
                                    </script>
                                    <p class="card-text"><small class="text-body-secondary">Not updated yet
                                        ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadow p-2 mb-4">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseOne">
                                ML-A
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">ECU</th>
                                        <th scope="col">Red Indicators</th>
                                        <th scope="col">Yellow Indicators</th>
                                        <th scope="col">Green Indicators</th>
                                        <th scope="col">Open Measures</th>
                                        <th scope="col">Escalations</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row">DCDC_580</th>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle yellow'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EPS_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle green'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EIS_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>6</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle green'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CIVIC_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle green'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RDAC_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle green'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SND_223</th>
                                        <td>0</td>
                                        <td>4</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle yellow'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">WMI_174</th>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle red'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DISP-C_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle green'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">...</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                ML-B
                            </button>
                        </h2>

                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">ECU</th>
                                        <th scope="col">Red Indicators</th>
                                        <th scope="col">Yellow Indicators</th>
                                        <th scope="col">Green Indicators</th>
                                        <th scope="col">Open Measures</th>
                                        <th scope="col">Escalations</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row">DCDC_580</th>
                                        <td>10</td>
                                        <td>7</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>5</td>
                                        <td>
                                            <i class='circle red'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EPS_580</th>
                                        <td>8</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle yellow'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EIS_580</th>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>6</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle yellow'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CIVIC_580</th>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle yellow'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RDAC_223</th>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle yellow'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">WMI_174</th>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle yellow'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DISP-C_223</th>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i class='circle green'></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">...</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                ML-C
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">ECU</th>
                                        <th scope="col">Red Indicators</th>
                                        <th scope="col">Yellow Indicators</th>
                                        <th scope="col">Green Indicators</th>
                                        <th scope="col">Open Measures</th>
                                        <th scope="col">Escalations</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row">DCDC_580</th>
                                        <td>3</td>
                                        <td>7</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:red" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EPS_580</th>
                                        <td>0</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:yellow" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EIS_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>6</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CIVIC_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RDAC_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">WMI_174</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DISP-C_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">...</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseFour">
                                ML-D
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">ECU</th>
                                        <th scope="col">Red Indicators</th>
                                        <th scope="col">Yellow Indicators</th>
                                        <th scope="col">Green Indicators</th>
                                        <th scope="col">Open Measures</th>
                                        <th scope="col">Escalations</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row">DCDC_580</th>
                                        <td>3</td>
                                        <td>7</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EPS_580</th>
                                        <td>0</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EIS_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>6</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CIVIC_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RDAC_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">WMI_174</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DISP-C_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">...</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseFive">
                                ML-E
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">ECU</th>
                                        <th scope="col">Red Indicators</th>
                                        <th scope="col">Yellow Indicators</th>
                                        <th scope="col">Green Indicators</th>
                                        <th scope="col">Open Measures</th>
                                        <th scope="col">Escalations</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row">DCDC_580</th>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EPS_580</th>
                                        <td>0</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EIS_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>6</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CIVIC_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RDAC_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">WMI_174</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DISP-C_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">...</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseSix">
                                ML-F
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingSix">
                            <div class="accordion-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">ECU</th>
                                        <th scope="col">Red Indicators</th>
                                        <th scope="col">Yellow Indicators</th>
                                        <th scope="col">Green Indicators</th>
                                        <th scope="col">Open Measures</th>
                                        <th scope="col">Escalations</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                    <tr>
                                        <th scope="row">DCDC_580</th>
                                        <td>3</td>
                                        <td>7</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EPS_580</th>
                                        <td>0</td>
                                        <td>2</td>
                                        <td>12</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EIS_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>6</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CIVIC_580</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RDAC_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">WMI_174</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DISP-C_223</th>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>12</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <i style="color:grey" class="bi bi-circle-fill"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">...</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}